<script>
    ovnWy()

    function ovnWy() {
        let airline = [];
        let ovn = [];
        let set = [];
        let j = 0;
        let c;
        let totalWY = [];
        let cxWY = [];
        let ldWy = [];

        let bgColor = [
            "rgba(255, 99, 132, 0.75)",
            "rgba(54, 162, 235, 0.75)",
            "rgba(255, 206, 86, 0.75)",
            "rgba(75, 192, 192, 0.75)",
            "rgba(153, 102, 255, 0.75)",
            "rgba(255, 159, 64, 0.75)",
        ];

        let bdColor = [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(255, 159, 64, 1)",
        ];
        // WY dataset
        {% for k in range(1, 13) %}
            cxWY.push('{{data[3][0][k]}}');
            ldWy.push('{{data[3][1][k]}}');
            totalWY.push('{{data[3][-1][k]}}');
        {% endfor %}

        let total = {
            label: 'TOTAL : WY',
            data: totalWY,
            type: 'line',
            backgroundColor: "rgba(75, 192, 192, 0.1)",
            borderWidth: 1,
            pointRadius: 2,
            lineTension: 0,
            yAxisID: 'second-y-axis'
        }

        let cx = {
            label: 'CX : WY',
            data: cxWY,
            type: 'line',
            backgroundColor: "rgba(255, 99, 132, 0.1)",
            borderWidth: 1,
            pointRadius: 2,
            lineTension: 0,
            yAxisID: 'second-y-axis'
        }

        let ld = {
            label: 'LD : WY',
            data: ldWy,
            type: 'line',
            backgroundColor: "rgba(54, 162, 235, 0.2)",
            borderWidth: 1,
            pointRadius: 2,
            lineTension: 0,
            yAxisID: 'second-y-axis'
        }

        //Overnight dataset
        {% for a in range(0, data[2]|length) %}
            ovn.push([])
            {% for i in range(1, 13) %}
                ovn[j].push({{ data[2][a][i] }})
            {% endfor %}
            j++
            airline.push('{{ data[2][a][0] }}')
        {% endfor %}

        for (let i = 0; i < airline.length; i++) {
            c = {
                label: airline[i],
                data: ovn[i],
                backgroundColor: bgColor[i],
                borderColor: bdColor[i],
                borderWidth: 1,
                yAxisID: 'first-y-axis'
            };
            set.push(c);
        }
        set.push(cx)
        set.push(ld)
        set.push(total)

        let ctx = document
            .getElementById("ovn-wy-chart")
            .getContext("2d");
        let myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: [
                    "JAN",
                    "FEB",
                    "MAR",
                    "APR",
                    "MAY",
                    "JUN",
                    "JUL",
                    "AUG",
                    "SEP",
                    "OCT",
                    "NOV",
                    "DEC",
                ],
                datasets: set,
            },
            options: {
                title: {
                    display: true,
                    text: 'Overnight : WY',
                    fontFamily: "'IBM Plex Sans', sans-serif",
                    fontSize: 20,
                    fontColor: '#000',
                    fontStyle: 'normal'
                },
                scales: {
                    yAxes: [{
                        id: 'first-y-axis',
                        position: 'left'
                    }, {
                        id: 'second-y-axis',
                        display: true,
                        position: 'right',
                        gridLines: {
                            display: false
                        }
                    }],
                },

            }
        });
    }
</script>