{% extends 'base.html' %}

{% block content %}
    <div class="container" style="min-width: 90%">
        <h4 class="text-center m-3">Recently Added</h4>
        <table class="table table-sm table-striped table-responsive-sm mt-3" id="flightTable">
            <thead class="thead-dark">
            <tr>
{#                <th>ID</th>#}
                <th>DATE</th>
                <th>AIRLINE</th>
                <th>FLT NO.</th>
                <th></th>
                <th>A/C REG.</th>
                <th>ATA</th>
                <th>ATD</th>
                <th>BAY</th>
                <th>CHK</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    {% for td in row %}
                        <td>{{ td }}</td>
                    {% endfor %}
                    <td><a href="" class="btn btn-sm btn-secondary">View</a></td>
                    <td><a href="" class="btn btn-sm btn-info">Update</a></td>
                    <td><a href="" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('create') }}" class="btn btn-success btn-sm">Add Flight</a>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#flightTable").DataTable();
        });
    </script>
{% endblock script %}
