{% set months = ('JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC') %}

<!-- Flights -->
<h4 class="text-center">Flights</h4>
<table class="table table-sm table-striped table-responsive-sm mt-3">
    <thead class="thead-dark">
    <tr>
        <th>AIRLINE</th>
        {% for month in months %}
            <th>{{ month }}</th>
        {% endfor %}
        <th>TOTAL</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data.0 %}
        <tr>
            {% for td in row %}
                <td>{{ td }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Overnight -->
<h4 class="text-center">Overnight</h4>
<table class="table table-sm table-striped  table-responsive-sm mt-3">
    <thead class="thead-dark">
    <tr>
        <th>AIRLINE</th>
        {% for item in months %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    {% for row in data.2 %}
        <tr>
            {% for td in row %}
                <td>{{ td }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<!-- Checks -->
<h4 class="text-center">Checks</h4>
<table class="table table-sm table-striped table-responsive-sm mt-3">
    <thead class="thead-dark">
    <tr>
        <th>AIRLINE</th>
        <th>CHECK</th>
        {% for item in months %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in data.1 %}
        <tr>
            {% for td in row %}
                <td>{{ td }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
