<h3>Monthly Flights</h3>
<table class="table table-sm table-striped mt-3">
    <thead class="thead-dark">
    <th>AIRLINE</th>
    <th>JAN</th>
    <th>FEB</th>
    <th>MAR</th>
    <th>APR</th>
    <th>MAY</th>
    <th>JUN</th>
    <th>JUL</th>
    <th>AUG</th>
    <th>SEP</th>
    <th>OCT</th>
    <th>NOV</th>
    <th>DEC</th>
    <th>TOTAL</th>
    </thead>
    {% for row in data.0 %}
        <tr>
            {% for td in row %}
                <td>{{ td }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<h3>Check</h3>
<table class="table table-sm table-striped">
    <thead class="thead-dark">
    <th>AIRLINE</th>
    <th>CHECK</th>
    <th>JAN</th>
    <th>FEB</th>
    <th>MAR</th>
    <th>APR</th>
    <th>MAY</th>
    <th>JUN</th>
    <th>JUL</th>
    <th>AUG</th>
    <th>SEP</th>
    <th>OCT</th>
    <th>NOV</th>
    <th>DEC</th>
    </thead>
    {% for row in data.1 %}
        <tr>
            {% for td in row %}
                <td>{{ td }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<h3>Overnight</h3>
<table class="table table-sm table-striped ">
    <thead class="thead-dark">
    <th>AIRLINE</th>
    <th>JAN</th>
    <th>FEB</th>
    <th>MAR</th>
    <th>APR</th>
    <th>MAY</th>
    <th>JUN</th>
    <th>JUL</th>
    <th>AUG</th>
    <th>SEP</th>
    <th>OCT</th>
    <th>NOV</th>
    <th>DEC</th>
    </thead>
    {% for row in data.2 %}
        <tr>
            {% for td in row %}
                <td>{{ td }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
