{% extends 'base.html' %}

{% block content %}
    <div class="container py-3">
        <form id="myForm" action="/update/{{ data[0][0] }}" method="post">
            <!-- Flight Log -->
            <div class="row">
                <div class="col px-2">
                    <div class="card bg-light text-dark shadow-sm">
                        <div class="card-header">
                            <p class="text-center text-dark mb-0">Flight Log</p>
                        </div>
                        <div class="card-body px-3">
                            <div class="row">
                                <!-- Date -->
                                <div class="col-md-4 col-form-label col-form-label-sm">
                                    <label for="arrdate">Date</label>
                                    <input
                                        type="date"
                                        name="arrdate"
                                        class="form-control form-control-sm border-danger"
                                        id="arrdate"

                                        value="{{ data[0][1] }}"
                                        required
                                    />
                                </div>
                                <!-- Airline -->
                                <div class="col-md-2 col-form-label col-form-label-sm">
                                    <label for="airline">Airline</label>
                                    <select
                                        name="airline"
                                        id="airline"
                                        class="form-control form-control-sm required border-danger"
                                    >
                                        <option value="{{ data[0][2] }}">{{ data[0][2] }}</option>
                                        <option value="ASL">ASL</option>
                                        <option value="CX">CX</option>
                                        <option value="KA">KA</option>
                                        <option value="LD">LD</option>
                                        <option value="PR">PR</option>
                                    </select>
                                </div>
                                <!-- Flight No. -->
                                <div class="col-md-2 col-form-label col-form-label-sm">
                                    <label for="fltno">Flight No.</label>
                                    <input
                                        list="fltlist"
                                        name="fltno"
                                        class="form-control form-control-sm border-danger"
                                        id="fltno"
                                        value="{{ data[0][3] }}"
                                        required
                                        onkeyup="this.value = this.value.toUpperCase();"
                                    />
                                    <datalist id="fltlist">
                                        <option value="613"></option>
                                        <option value="616"></option>
                                        <option value="617"></option>
                                        <option value="619"></option>
                                        <option value="653/654"></option>
                                        <option value="700"></option>
                                        <option value="701/704"></option>
                                        <option value="751/708"></option>
                                        <option value="831/842"></option>
                                    </datalist>
                                </div>
                                <div class="col-md-2 col-form-label col-form-label-sm">
                                    <label for="prefix">A/C Reg.</label>
                                    <select
                                        name="prefix"
                                        id="prefix"
                                        class="form-control form-control-sm border-danger"
                                        required
                                    >
                                        <option value="{{ data[0][4] }}">{{ data[0][4] }}</option>
                                        <option value="B-">B-</option>
                                        <option value="B-">B-</option>
                                        <option value="EI-">EI-</option>
                                        <option value="RP-C">RP-C</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-form-label col-form-label-sm">
                                    <label class="text-light" for="acreg">A/C Reg.</label>
                                    <input
                                        type="text"
                                        name="acreg"
                                        class="form-control form-control-sm border-danger"
                                        id="acreg"
                                        value="{{ data[0][5] }}"
                                        required
                                        onkeyup="this.value = this.value.toUpperCase();"
                                    />
                                </div>
                            </div>
                            <!-- A/C Registration -->
                            <div class="row mt-2">
                                <div class="col-md-2 col-form-label col-form-label-sm">
                                    <label for="ata">ATA</label>
                                    <input
                                        type="text"
                                        name="ata"
                                        class="form-control form-control-sm timepicker"
                                        id="ata"
                                        {% if data[3][1] == None %}
                                        value=""
                                        {% else %}
                                        value="{{ data[3][1] }}"
                                        {% endif %}
                                        placeholder="hhmm"
                                    />
                                </div>
                                <div class="col-md-2 col-form-label col-form-label-sm">
                                    <label for="atd">ATD</label>
                                    <input
                                        type="text"
                                        name="atd"
                                        class="form-control form-control-sm timepicker"
                                        id="atd"
                                        {% if data[3][2] == None %}
                                        value=""
                                        {% else %}
                                        value="{{ data[3][2] }}"
                                        {% endif %}
                                        placeholder="hhmm"
                                    />
                                </div>
                                <div class="col-md-2 col-form-label col-form-label-sm">
                                    <label for="bay">Bay</label>
                                    <input
                                        type="text"
                                        name="bay"
                                        class="form-control form-control-sm border-danger"
                                        id="bay"
                                        value="{{ data[0][8] }}"
                                        required
                                        onkeyup="this.value = this.value.toUpperCase();"
                                    />
                                </div>
                                <div class="col-md-2 col-form-label col-form-label-sm">
                                    <label for="chk">CHK</label>
                                    <input
                                        type="text"
                                        name="chk"
                                        class="form-control form-control-sm border-danger"
                                        id="chk"
                                        value="{{ data[0][9] }}"
                                        required
                                        onkeyup="this.value = this.value.toUpperCase();"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Servicing -->
                <div class="col-md-6 col-lg-3 mt-3 px-2">
                    <div class="card bg-light text-dark h-100 shadow-sm">
                        <div class="card-header">
                            <p class="text-center text-dark mb-0">Servicing</p>
                        </div>
                        <div class="card-body px-3">
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="watersvc">Water Service</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="watersvc" class="form-control form-control-sm" id="watersvc">
                                        <option value="{{ data[0][10] }}">{{ data[0][10] }}</option>
                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="wastersvc">Waste Service</label>
                                </div>
                                <div class="col-md-6">
                                    <select
                                        name="wastersvc"
                                        class="form-control form-control-sm"
                                        id="wastersvc"
                                    >
                                        <option value="{{ data[0][11] }}">{{ data[0][11] }}</option>
                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="afac">400 Hz</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="number"
                                        name="afac"
                                        class="form-control form-control-sm"
                                        id="afac"
                                        value="{{ data[0][12] }}"
                                        placeholder="minutes"
                                    />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="gpu">GPU</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="gpu" class="form-control form-control-sm" id="gpu">
                                        <option value="{{ data[0][13] }}">{{ data[0][13] }}</option>
                                        <option value="BFS">BFS</option>
                                        <option value="TG">TG</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="asu">ASU</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="asu" class="form-control form-control-sm" id="asu">
                                        <option value="{{ data[0][14] }}">{{ data[0][14] }}</option>
                                        <option value="BFS">BFS</option>
                                        <option value="TG">TG</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="acu">ACU</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="acu" class="form-control form-control-sm" id="acu">
                                        <option value="{{ data[0][15] }}">{{ data[0][15] }}</option>
                                        <option value="BFS">BFS</option>
                                        <option value="TG">TG</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="brk">Brake Cooling</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="brk" class="form-control form-control-sm" id="brk">
                                        <option value="{{ data[0][16] }}">{{ data[0][16] }}</option>
                                        <option value="BFS">BFS</option>
                                        <option value="CX">CX</option>
                                        <option value="TG">TG</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="cherry">Cherry Picker</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="cherry" class="form-control form-control-sm" id="cherry">
                                        <option value="{{ data[0][17] }}">{{ data[0][17] }}</option>
                                        <option value="BFS">BFS</option>
                                        <option value="TG">TG</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="platform">Platform</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="platform" class="form-control form-control-sm" id="platform">
                                        <option value="{{ data[0][18] }}">{{ data[0][18] }}</option>
                                        <option value="BFS">BFS</option>
                                        <option value="CX">CX</option>
                                        <option value="TG">TG</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Work Package & ADDs -->
                <div class="col-md-6 col-lg-3 mt-3 px-2">
                    <div class="card bg-light text-dark h-100 shadow-sm">
                        <div class="card-header">
                            <p class="text-center text-dark mb-0">PKG & ADD</p>
                        </div>
                        <div class="card-body px-3">
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="pkg">PKG</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="number"
                                        name="pkg"
                                        class="form-control form-control-sm"
                                        id="pkg"
                                        value="{{ data[0][19] }}"

                                    />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="padd">PADD</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="number"
                                        name="padd"
                                        class="form-control form-control-sm"
                                        id="padd"
                                        value="{{ data[0][20] }}"
                                    />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="sadd">SADD</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="number"
                                        name="sadd"
                                        class="form-control form-control-sm"
                                        id="sadd"
                                        value="{{ data[0][21] }}"
                                    />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="add">ADD</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="number"
                                        name="add"
                                        class="form-control form-control-sm"
                                        id="add"
                                        value="{{ data[0][22] }}"
                                    />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="zadd">ZADD</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="number"
                                        name="zadd"
                                        class="form-control form-control-sm"
                                        id="zadd"
                                        value="{{ data[0][23] }}"
                                    />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="cadd">CADD</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="number"
                                        name="cadd"
                                        class="form-control form-control-sm"
                                        id="cadd"
                                        value="{{ data[0][24] }}"
                                    />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="madd">MADD</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="number"
                                        name="madd"
                                        class="form-control form-control-sm"
                                        id="madd"
                                        value="{{ data[0][25] }}"
                                    />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="work">Worked</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="number"
                                        name="work"
                                        class="form-control form-control-sm"
                                        id="work"
                                        value="{{ data[0][26] }}"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Overnight -->
                <div class="col-md-6 col-lg-3 mt-3 px-2">
                    <div class="card bg-light text-dark h-100 shadow-sm">
                        <div class="card-header">
                            <p class="text-center text-dark mb-0">Overnight</p>
                        </div>
                        <div class="card-body px-3">
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="ovnbay">Overnight Bay</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="text"
                                        name="ovnbay"
                                        class="form-control form-control-sm"
                                        id="ovnbay"
                                        value="{{ data[0][27] }}"
                                        onkeyup="this.value = this.value.toUpperCase();"
                                    />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="tpc">TPC</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="tpc" class="form-control form-control-sm" id="tpc">
                                        <option value="{{ data[0][28] }}">{{ data[0][28] }}</option>
                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="waterdrain">Water Drain</label>
                                </div>
                                <div class="col-md-6">
                                    <select
                                        name="waterdrain"
                                        class="form-control form-control-sm"
                                        id="waterdrain"
                                    >
                                        <option value="{{ data[0][29] }}">{{ data[0][29] }}</option>
                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="wastedrain">Waste Drain</label>
                                </div>
                                <div class="col-md-6">
                                    <select
                                        name="wastedrain"
                                        class="form-control form-control-sm"
                                        id="wastedrain"
                                    >
                                        <option value="{{ data[0][30] }}">{{ data[0][30] }}</option>
                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="fueldrain">Fuel Drain</label>
                                </div>
                                <div class="col-md-6">
                                    <select
                                        name="fueldrain"
                                        class="form-control form-control-sm"
                                        id="fueldrain"
                                    >
                                        <option value="{{ data[0][31] }}">{{ data[0][31] }}</option>
                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="stand">Stand</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="stand" class="form-control form-control-sm" id="stand">
                                        <option value="{{ data[0][32] }}">{{ data[0][32] }}</option>
                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="acwsh">A/C Wash</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="acwsh" class="form-control form-control-sm" id="acwsh">
                                        <option value="{{ data[0][33] }}">{{ data[0][33] }}</option>
                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Handling By -->
                <div class="col-md-6 col-lg-3 mt-3 px-2">
                    <div class="card bg-light text-dark h-100 shadow-sm">
                        <div class="card-header">
                            <p class="text-center text-dark mb-0">Handling By</p>
                        </div>
                        <div class="card-body px-3">
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="mech1">MECH-1</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        list="mechlist"
                                        name="mech1"
                                        class="form-control form-control-sm border-danger"
                                        id="mech1"
                                        size="4"
                                        value="{{ data[0][34] }}"
                                        required
                                        onkeyup="this.value = this.value.toUpperCase();"
                                    />
                                    <datalist id="mechlist">
                                        <option value="AD">AD</option>
                                        <option value="M8">M8</option>
                                        <option value="M11">M11</option>
                                        <option value="E3">E3</option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="mech2">MECH-2</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        list="mechlist"
                                        name="mech2"
                                        class="form-control form-control-sm"
                                        id="mech2"
                                        value="{{ data[0][35] }}"
                                        onkeyup="this.value = this.value.toUpperCase();"
                                        size="4"
                                    />
                                    <datalist id="mechlist">
                                        <option value="M4"></option>
                                        <option value="M6"></option>
                                        <option value="M9"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="eic">EIC</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        list="eiclist"
                                        name="eic"
                                        class="form-control form-control-sm border-danger"
                                        id="eic"
                                        size="4"
                                        value="{{ data[0][36] }}"
                                        required
                                        onkeyup="this.value = this.value.toUpperCase();"
                                    />
                                    <datalist id="eiclist">
                                        {% for eic in data[2] %}
                                            <option value={{ eic.0 }}>{{ eic.0 }}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-form-label col-form-label-sm">
                                    <label for="tda">TDA</label>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="text"
                                        name="tda"
                                        class="form-control form-control-sm timepicker"
                                        id="tda"
                                        value="{{ data[0][37] }}"
                                        placeholder="hhmm"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Handling -->
            <div class="row">
                <div class="col-md-6 mt-3 px-2">
                    <div class="card bg-light text-dark h-100 shadow-sm">
                        <div class="card-header">
                            <p class="text-center text-dark mb-0">
                                <label for="fltrmk">Flight Remark</label>
                            </p>
                        </div>
                        <div class="card-body px-3">
                            <div class="row mt-2">
                                <div class="col">
                                    <textarea
                                        name="fltrmk"
                                        class="form-control"
                                        id="fltrmk"
                                        cols="50"
                                        rows="5"
                                        onkeyup="this.value = this.value.toUpperCase();"
                                    >{{ data[0][38] }}</textarea>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3 col-form-label col-form-label-sm">
                                    <label for="record">Record By</label>
                                </div>
                                <div class="col-md-9">
                                    <input
                                        list="namelist"
                                        name="record"
                                        class="form-control border-danger"
                                        id="record"
                                        value="{{ data[0][39] }}"
                                        required
                                        onkeyup="this.value = this.value.toUpperCase();"
                                    />
                                </div>
                                <datalist id="namelist">
                                    {% for namelist in data[1] %}
                                        <option value={{ namelist.0 }}>{{ namelist.0 }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3 px-2">
                    <div class="row">
                        <div class="col">
                            <button
                                class="btn btn-info btn-block border border-light"
                                type="submit"
                            >
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}
